body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

#categoryDiv, #problemDiv, #resultDiv {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#startButton, #submitButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

#answerInput {
    padding: 10px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

#clock {
    font-size: 18px;
    margin-top: 10px;
}

#correctAnswerMessage {
    color: #ff0000;
}